<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}spring.log}"/>

    <springProfile name="dev">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
        <appender name="ROLLING-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
           	<file>/app/logs/FORESTO-WEBAPP/Foresto_LOG.log</file>
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
		        <Pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</Pattern>
		    </encoder>
			<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            	<fileNamePattern>/app/logs/FORESTO-WEBAPP/archived/log_%d{dd-MM-yyyy}_%i.log</fileNamePattern>
                <maxFileSize>100KB</maxFileSize>
                <maxHistory>100</maxHistory>
                <totalSizeCap>500KB</totalSizeCap>
            </rollingPolicy>
        </appender>
        <root level="DEBUG,INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="ROLLING-FILE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <appender name="ROLLING-FILE"
                  class="ch.qos.logback.core.rolling.RollingFileAppender">
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>${FILE_LOG_PATTERN}</pattern>
            </encoder>
            <file>${LOG_FILE}</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_FILE}/archived/LOG_%d{yyyy-MM-dd}-%i.zip</fileNamePattern>
                <timeBasedFileNamingAndTriggeringPolicy
                        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>10MB</maxFileSize>
<!--                     <maxHistory>10</maxHistory> -->
<!--                     <totalSizeCap>100MB</totalSizeCap> -->
                </timeBasedFileNamingAndTriggeringPolicy>
            </rollingPolicy>
            <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
		        <maxFileSize>1KB</maxFileSize>
		    </triggeringPolicy>
        </appender>

        <root level="ERROR">
            <appender-ref ref="ROLLING-FILE"/>
        </root>
    </springProfile>

</configuration>